* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(217, 160, 255);
  text-align: center;
}
.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5vmin;
  justify-content: center;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: red;
  background-color: rgb(255, 255, 255);
}
#reset {
  padding: 1rem;
  font-size: 1.25rem;
  background: #fefe8d;
  color: rgb(84, 84, 84);
  border-radius: 1rem;
  border: none;
}
.box:hover {
  background-color: rgb(241, 241, 241);
}
#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background: #191913;
  color: white;
  border-radius: 1rem;
  border: none;
}
#msg {
  font-size: 8vmin;
}
.msg-container {
  height: 30vmin;
}
.hide {
  display: none;
}
